rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth.uid == userId ||
                      request.auth.uid == resource.data.partnerId ||
                      (request.resource.data.partnerId == request.auth.uid &&
                        get(path('/databases/' + database + '/documents/connectionRequests/' + userId + '_' + request.auth.uid)).data.status == 'accepted') ||
                      (request.resource.data.partnerId == userId &&
                        get(path('/databases/' + database + '/documents/connectionRequests/' + request.auth.uid + '_' + userId)).data.status == 'accepted');
    }

    match /connectionRequests/{requestId} {
      allow read, create, update, delete: if request.auth != null;
    }

    match /sharedEvents/{eventId} {
      allow read, write: if request.auth != null;
    }

    match /memories/{memoryId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read: if request.auth != null && (request.auth.uid == resource.data.userId || request.auth.uid == get(/databases/$(database)/documents/users/$(resource.data.userId)).data.partnerId);
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /notifications/{userId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /events/{eventId} {
      allow read, create, update, delete: if request.auth != null;
    }

    match /notes/{noteId} {
      allow read, write: if request.auth != null;
    }

    match /sharedGoals/{goalId} {
      allow read, write: if request.auth != null;
    }

    match /commonGoals/{goalId} {
      allow read, write: if request.auth != null;
    }

    match /sharedEvents/{eventId} {
      allow read, write: if request.auth != null;
    }

    match /chats/{chatId} {
      allow read, write: if request.auth != null && request.auth.uid in chatId.split('_');
      match /messages/{messageId} {
        allow read, create: if request.auth != null && request.auth.uid in chatId.split('_');
        allow delete: if request.auth != null && request.auth.uid == resource.data.senderId;
      }
    }
  }
}
