@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
  background-color: #fdfdff;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #fda4af;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f472b6;
}
